<!DOCTYPE html>
<html>
  <head>
    <title>
    About
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <br><br>
    <p>This site was created by Arunesh Dhar.It uses data from mapbox.com and weatherstack.com</p>
    <div class="portrait">
    <img src="/img/bg.jpg" alt="node">
    </div>
  </div>
    {{>footer}}
  </body>
</html>
