<!DOCTYPE html>
<html>
  <head>
    <title>
      Weather
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <h4>Use this site to get your weather</h4>
    <form>
      <label for="weather">Location:</label><br><br>
      <input type="text" placeholder="Location" id="loc"/>
      <button type="submit">Search</button>
      <p class="load" style="display: none">Loading...</p>
    </form>
    <p></p>
    <p></p>
  </div>
      {{>footer}}
  </body>
  <script src="js/index.js"></script>
</html>
